@import url('./base.css');

.cloth-details-text {
    color: var(--clr-primary-5);
    font-size: var(--medium-font-size);
}

.cloth-heading {
    color: var(--clr-primary-6);
}

.cloth-available {
    color: var(--clr-green-light)
}

.cloth-unavailable {
    color: var(--clr-red-light);
}

.add-cart-btn {
    color: var(--clr-white);
    background-color: var(--clr-primary-6);
}

.add-cart-btn:hover {
    color: var(--clr-white);
    opacity: 0.8;
}

.cloth-pieces-input {
    width: 20%;
    border: 2px solid var(--clr-primary-6);
    color: var(--clr-primary-6);
}

.cloth-pieces-input:focus {
    border: 2px solid var(--clr-primary-6);
    outline: 2px solid var(--clr-primary-6);
}

#errorMessage {
    background-color: var(--clr-white);
    color: var(--clr-red-light);
    border: 2px solid var(--clr-red-dark);
    text-align: center;
    padding: 2%;
    box-shadow: 10px 8px 10px 10px var(--clr-red-dark);
}

#img-container{
	z-index: 1;
	max-width: 500px;
	position: relative;
}

#lens{
	z-index: 2;
	position: absolute;

	height: 125px;
	width: 125px;
	border:2px solid black;
	background-repeat: no-repeat;
	cursor: none;

}
