@import url('./base.css');

#id_search {
    width: 100%;
    height: 5vh;
    font-size: var(--medium-font-size);
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid var(--clr-primary-6);
    border-radius: var(--radius);
}

#id_search:focus {
    border: unset;
    color: var(--clr-primary-6);
    outline-color: var(--clr-primary-6);
    border: 4px solid var(--clr-primary-6);
}

.search-btn {
    color: var(--clr-grey-10);
    background-color: var(--clr-primary-6);
    width: 30%;
    font-size: var(--big-font-size);
    margin: 2% 0% 2% 35%;
}

#div_id_search label {
    display: none;
}

.eshop-heading {
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--clr-primary-6);
    font-size: var(--xx-big-font-size);
}

.search-btn:hover {
    color: var(--clr-grey-9);
    background-color: var(--clr-primary-7);
}

.carousel-img {
    width: 100%;
    height: 100vh;
}

.map-style {
    width: 100%;
    height: 60vh;
}

.contact-us-heading,
.headquarters-heading {
    font-size: var(--x-big-font-size);
    color: var(--clr-primary-6);
    display: flex;
    justify-content: center;
}

.contact-us-heading {
    font-size: var(--x-big-font-size);
    color: var(--clr-grey-10);
    text-align: center;
}

.headquarters-info {
    font-size: var(--medium-font-size);
    color: var(--clr-primary-6);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.headquarters-info:hover {
    color: var(--clr-primary-6);
}

.contact-us-form {
    background-color: var(--clr-primary-6);
    color: var(--clr-grey-10);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.contact-us-field {
    width: 100%;
    padding: 1%;
    border: 2px solid var(--clr-primary-6);
    border-radius: var(--radius);
    color: var(--clr-primary-6);
    margin-top: 1%;
}

.contact-us-message:focus,
.contact-us-field:focus {
    border: unset;
    color: var(--clr-primary-6);
    outline-color: var(--clr-primary-6);
    border: 5px solid var(--clr-primary-6);
}

.contact-us-message {
    width: 100%;
    padding: 1%;
    border: 2px solid var(--clr-primary-6);
    border-radius: var(--radius);
    margin-top: 1%;
    color: var(--clr-primary-6);
}

.contact-us-button {
    color: var(--clr-primary-6);
    margin-left: 40%;
    margin-top: 2%;
    width: 20%;
}

.contact-us-button:hover {
    color: var(--clr-primary-7);
}

#div_id_name label,
#div_id_surname label,
#div_id_email label,
#div_id_subject label,
#div_id_message label {
    font-size: var(--medium-font-size);
}

@media only screen and (max-width:1025px) {
    .carousel-img {
        height: 60vh;
    }
}

@media only screen and (max-width:769px) {
    .search-btn {
        font-size: var(--medium-font-size);
    }

    .eshop-heading {
        font-size: var(--x-big-font-size);
    }

    .contact-us-heading,
    .headquarters-heading {
        font-size: var(--big-font-size);
    }
}