{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link href="{% static 'css/clothes.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="container-fluid mb-3 mt-3">
    <div class="row">
        <h2 class="filter-heading">{{heading}}</h2>
        <div class="col-sm-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <h2 class="filter-heading">Filters</h2>
                        <form method="POST" class="mb-3">
                            {% csrf_token %}
                            <label for="price" class="label-form filter-labels">Price Range (&dollar;)</label>
                            <input type="text" class="form-control" id="price" name="price" disabled />
                            <input type="range" name="slider-price" class="mt-3" min="0" max="{{max_price}}" />
                            <button type="submit" class="btn filters-btn">Search</button>
                        </form>
                        <form method="POST" class="mb-3">
                            {% csrf_token %}
                            <label for="color" class="label-form filter-labels">Color</label>
                            <select id="color" name="color">
                                {% for c in colors %}
                                <option value="{{c.0}}">{{c.0}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn filters-btn mt-3">Search</button>
                        </form>
                        <form method="POST" class="mb-3">
                            {% csrf_token %}
                            <label for="size" class="label-form filter-labels">Size</label>
                            <select id="size" name="size">
                                {% for s in sizes %}
                                <option value="{{s.0}}">{{s.0}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn filters-btn mt-3">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 mt-3">
            <div class="container-fluid">
                <div class="row">
                    {% for c in clothes %}
                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <a href="{% url path_name c.code %}" target="_blank"><img
                                    class="card-img-top card-img-style" src="{{ c.image.url }}"
                                    alt="{{c.brand}} {% if c.model != '-' %}{{c.model}}{% endif %}" /></a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{c.brand}}
                                    {% if c.model != '-' %}
                                    {{c.model}}
                                    {% endif %}
                                </h5>
                                <p class="card-text">Price: &dollar;{{c.price}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
<script src="{% static 'js\clothes.js' %}"></script>
{% endblock %}